################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab08/.vs
/Lab08/bin/Debug/net8.0
/Lab08/Lab08/bin/Debug/net8.0
/Lab08/Lab08/obj
/Lab08/obj
